*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cream: hsl(27, 66%, 92%);
  --red-bg: hsl(10, 79%, 65%);
  --dark-brown: hsl(25, 47%, 15%);
  --cyan: hsl(186, 34%, 60%);
  --pale-orange: hsl(33, 100%, 98%);
}

body {
  font-family: "DM Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
